.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  padding: 1em;
  padding-bottom: 2.5em;
  gap: 1rem;
}

.hero-img {
  background-image: url('../../img/studio-fitting.jpg');
  width: 100%;
  height: 240px;
  background-size: cover;
  background-position: right;
}

.hero-button {
  display: flex;
  flex-direction: row;
  /* margin-inline: 5px;*/
  gap: 1rem;
  /* max-width: 350px;*/
  flex-wrap: wrap;
  justify-content: center;
}

/* desktop */
@media (min-width: 800px) {
  .hero {
    flex-direction: row;
    background-position: center;
  }

  .hero-container {
    margin-left: 5%;
    padding: 0;
    padding-bottom: 2.5em;
  }

  .hero-text {
    max-width: 80%;
  }

  .hero-title {
    margin-top: 2rem;
    font-size: 3rem;
  }

  .hero-img {
    height: 450px;
  }

  .hero-button {
    display: flex;
    flex-wrap: nowrap;
    margin-inline: 5px;
    max-width: 350px;
    justify-content: flex-start;
  }


}
