.btn {
  border: 1px solid var(--text);
  background-color: var(--button-white);
  color: var(--text);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 0.5rem 4rem;
  cursor: pointer;
  text-decoration: none;
}
