footer {
  font-size: 1rem;
  color: var(--text);

  div {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  a {
    color: var(--dark);
  }
}

.navigation-main {
  text-decoration: none;
  font-weight: 400;
}


.navigation-lower {
  margin: 1rem 0;
  font-weight: 200;
  margin-bottom: 3rem;
}


@media (min-width: 800px) {
  footer {
    font-size: 2rem;
  }
}
