.navigation-item {
  text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: transform 0.2s ease;
}

.navigation-item:hover,
.navigation-item:focus {
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);
}

a {
  color: var(--dark);
}

@media (min-width: 800px) {
  .navigation-item {
    font-size: 2rem;
  }
}
