.header__menu {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
}

.header__navigation {
  display: none;
}

.header__hamburgermenu {
  display: flex;
  font-size: 2rem;
  margin: 0;
}

.navigation-item,
.navigation-item:visited {
  /* text-underline-offset: 3px;
  text-decoration-thickness: 1px;
  transition: transform 0.2s ease;*/
  text-decoration: none;
}

.navigation-item:hover,
.navigation-item:active,
.navigation-item:focus {
  /*text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  transform: translateY(-1px);*/
  color: var(--darker);
}

.brand {
  position: relative;
  z-index: 1001;
}


@media (min-width: 800px) {
  .navigation-item {
    font-size: 1.8rem;
  }

  .header__menu {
    display: flex;
    gap: 2rem;
    flex-direction: row;
  }

  .header__navigation {
    display: flex;
  }

  .header__hamburgermenu {
    display: none;
  }
}
