.info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem 5%;
  gap: 1rem;
  align-items: center;
}

.info-section p,
.info-section h2,
.info-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 5%;
  align-items: center;
}

.questionnarie {
  font-weight: 500;
}

@media (min-width: 800px) {
  .info-section {
    font-size: 1.3rem;
  }

  .info-section h2 {
    font-size: 2rem;
  }
}
