.guide {
  width: 100%;
}

.guide-text {
  max-width: 100%;
}

.guide__button {
  background-color: var(--lighter);
  padding: 10px;
  margin: 10px
}

@media (min-width: 800px) {
  .guide {
    width: 80%;
  }

  .guide-text {
    width: 60%;
  }
}
