.guide {
  width: 100vw;
  display: flex;
}

.guide__title {
  text-align: center;
}

.guide__section {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 10px
}

#intro {
  display: flex;
  height: calc(100vh - 92px);
  justify-content: flex-start;
  flex-grow: 1;
}

#creator-types,
#region,
#target-customers,
#style {
  background-color: var(--background-secondary);
  height: 100vh
}

/*
#specializations,
#clothing-type,
#materials {
  background-color: var(--background-secondary);
  height: 100vh
}
*/
.guide__text {
  margin-top: 8px;
  line-height: 1.2;
  font-size: 0.9rem;
}

.guide__header {
  font-size: 3rem;
  margin-top: 20px;
  text-align: center;
}

.guide__category-title,
.guide__title {
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
}

.guide__filters {
  width: 100%;
  display: flex;
  justify-content: center;
}

.guide__button,
.guide__button:visited {
  background-color: var(--darker);
  color: var(--button-white);
  border-radius: 50px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  position: fixed;
  left: calc(50vw - 100px);
  bottom: 25px;
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  font-size: 1.5rem;
}

.guide__button:focus,
.guide__button:hover,
.guide__button:active {
  background-color: var(--dark);
}

.guide-link,
.guide-link:visited {
  background-color: var(--button-white);
  color: var(--dark);
  border: 0.5px solid var(--dark);
  padding: 10px 30px;
  margin: 10px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.guide-link:focus,
.guide-link:hover,
.guide-link:active {
  background-color: var(--light);
}


@media (min-width: 800px) {


  .guide__section-inner {
    max-width: 800px;
    width: 80vw;
  }

  .guide__text {
    width: 100%;
    font-size: 1.1rem;
    line-height: 1.4;
  }

  .guide__header {
    margin-top: 10vh;
  }

  .guide__category-title {
    margin-top: 25vh;
  }

  .guide__filters-inner {
    max-width: 800px;
    width: 100%;
  }

  .guide-link {

    margin: 20px 0;
  }

}
