.filters__options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin: 0.5rem;
}

@media (min-width: 800px) {
  .filters__options {
    justify-content: flex-start
  }
}
