@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* variables */
:root {
  --background-primary: #D1C6BE;
  --background-secondary: #BD9E89;
  --text: #2B2B2B;
  --text-navigation: #1F06AC;

  --lighter:#D1C6BE;
  --light: #BD9E89;
  --darker: #545454;
  --dark: #2B2B2B;
  --primary: #1F06AC;

}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.container {
  background-image: radial-gradient(farthest-corner at 60% 65%, var(--background-secondary), var(--background-primary));
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--text-navigation);
}

.brand {
  font-family: "Bricolage Grotesque", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: var(--text-navigation);
  font-size: 4rem;
  text-decoration: none;
}

header {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}


.maincontainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

footer {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
