.creator__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border: 1px solid var(--dark);
  border-radius: 10px;
  margin: 10px;
  opacity: 1;
  transform: scaleX(1);
}

.creator__card:hover {
  transform: scale(0.97);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.creator__container {
  padding: 10px 16px;
}

.creator__name {
  text-align: center;
  padding-bottom: 5px;
}

.creator__categories {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 5px;
}

.creator__about {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.creator__link {
  text-align: center;
  padding: 0 16px 10px 16px;
}

@media (min-width: 800px) {
  .creator__card {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }
}

@starting-style {
  .creator__card {
    opacity: 0;
    transform: scaleX(0);
  }
}
