.creator__card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  border: 1px solid var(--dark);
  border-radius: 10px;
  margin: 10px;
  opacity: 1;
  transform: scaleX(1);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.creator__card:hover {
  transform: scale(0.97);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.creator__container {
  padding: 10px 16px;
}

.creator__name {
  text-align: center;
  padding-bottom: 5px;
}

.creator__categories {
  font-size: 1rem;
  line-height: 1.5;
  padding-bottom: 5px;
}

.creator__about {
  font-size: 0.9rem;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.creator__link a {
  color: var(--dark);
  border: 0.5px solid var(--dark);
  border-radius: 50px;
  padding: 8px 15px;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-align: center;
}

.creator__link a:focus,
.creator__link a:hover,
.creator__link a:active {
  border: 0.5px solid var(--lighter);
  color: var(--lighter);
  background-color: var(--darker);
}






@media (min-width: 800px) {
  .creator__card {
    width: 100%;
    max-width: 400px;
    margin: 0;
  }
}

@starting-style {
  .creator__card {
    opacity: 0;
    transform: scaleX(0);
  }
}
